<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
<div align="center">
    <fieldset>
        <legend>JSF Test Form</legend>
        <h:form>Some random data: <h:inputText value="#{someBean.someProperty}"/>
            <h:commandButton value="Go to Page Accordion Panel" action="#{someBean.someActionControllerMethod}"/>
        </h:form>
    </fieldset>
</div>

<p:editor />
</h:body>
</html>